* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: rgb(238, 174, 202);
	background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
	color: white;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
}

header {
	font-size: 2rem;
}

header,
form {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input,
form button {
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background: white;
}

form button {
	color: rgba(192, 98, 192, 0.644);
	background: #f7fffe;
	cursor: pointer;
	transition: all 0.3s ease;
}

form button:hover {
	background: rgba(192, 98, 192, 0.644);
	color: white;
}
