* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: rgb(238, 174, 202);
	background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
	color: white;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
}

header {
	font-size: 2rem;
}

header,
form {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input,
form button {
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background: white;
}

form button {
	color: rgba(192, 98, 192, 0.644);
	background: #f7fffe;
	cursor: pointer;
	transition: all 0.3s ease;
}

form button:hover {
	background: rgba(192, 98, 192, 0.644);
	color: white;
}

.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list {
	min-width: 30%;
	list-style: none;
}

.todo {
	margin: 0.5rem;
	background: white;
	font-size: 1.5rem;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 1s ease;
}

.todo li {
	flex: 1;
}

.trash-btn,
.complete-btn {
	background: rgba(236, 71, 71, 0.747);
	color: white;
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
}

.complete-btn {
	background: rgba(77, 241, 77, 0.678);
}

.todo-item {
	padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
	pointer-events: none;
}

.fall {
	transform: translateY(10rem) rotateZ(20deg);
	opacity: 0;
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}
